{% for group in articles | groupByYear %}
<div class="yr">
<div class="ynum">{{ group.year }}</div>
<div>
{% for article in group.items %}
<article class="ent">
<div class="top">
<a href="{{ article.url | url }}" class="ttl">{{ article.data.title }}</a>
<span class="meta">
<span class="dt">{{ article.date | monthDayFilter }}</span>
{%- if article.data.updated %}<span class="upd">Update</span>{% endif %}
</span>
</div>
{% if article.data.excerpt %}<p class="dek">{{ article.data.excerpt | md | safe }}</p>{% endif %}
</article>
{% endfor %}
</div>
</div>
{% endfor %}
