<div id="header">
    <div class="main__title">
        <a href="/">
            <div class="logo">
                <img src="/assets/transparent_cartoon.png" alt="msb.fyi" width="100" height="100"/>
            </div>
            <h1><span class="firstname">Michael</span> <span class="middlename">Sean</span> <span class="surname">Becker</h1>
        </a>
       <div class="vibing">
            <a href="https://x.com/flapanthers/status/1378757330649636864?lang=en" target="_blank">
                <img src="/assets/images/vibing.png" alt="Vibing Panthers" />
            </a>
        </div>
    </div>
     
</div>