{% set categories =  collections.categoryList %}
<nav class="catnav" role="navigation" aria-label="category navigation" >
  <span class="lbl">Filter posts by category</span>
    <a href="/blog"
      {{ "aria-current" if page.url === "/blog/" }}
        >all</a>
    {%- for category in categories %}
    {% set catUrl = ["/blog/", category.key, "/" ] |  join %}
    <a href="{{ catUrl }}"
      {{ "aria-current" if page.url == catUrl }}>
        {{ category.key }}
      </a>
    {%- endfor -%}
</nav>
