<footer>
    <div>
        <span>
            <a rel="me" href="https://msb.link"><i class="fa-regular fa-link-horizontal"></i> msb.link</a>
        </span> 
        <span> | </span> 
        <span>
            <a rel="me" href="https://msb.fyi/feed.rss"><i class="fa-solid fa-rss"></i> RSS</a>
        </span>
        <span> | </span>
        <span>
            <a rel="me" href="https://103.social/@msb"><i class="fa-brands fa-mastodon"></i> 103.social</a>
        </span>
        <span> | </span>
        <span>
            <a href="https://github.com/michaelseanbecker"><i class="fa-brands fa-github"></i> Github</a>
        </span>
        <span> | </span>
        <span>
            <a href="http://msb.omg.lol" target="_blank" data-proven="proven1892c8">msb.omg.lol</a>
        </span>
    </div>
    <div>
        <span>
            <a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank"><i class="fa-brands fa-creative-commons-by"></i> <i class="fa-brands fa-creative-commons-sa"></i> {% year %} Michael Sean Becker</a>
        </span>
        <span> | </span>
        <span>
            <a href="https://github.com/msbfyi/msb-blog/releases/tag/{% appVer %}"><i class="fa-regular fa-person-digging"></i>{% appVer %}</a>
        </span>
        <span> | </span>
        <span>
            <a href="https://msb.proven.lol" target="_blank" data-proven="proven1892c8">Proofs</a>
        </span>
        <span> | </span>
        <span>
            <a href="https://proven.lol/1892c8" target="_blank" data-proven="proven1892c8">Proven</a>
        </span>
        <span> | </span>
        <span>
            <a href="/coffee">Buy me a coffee</a>
        </span>
    </div>
</footer>
