<footer>
    <div>
        <span>
            <a rel="me" href="https://msb.link"><i class="fa-regular fa-link-horizontal"></i> msb.link</a>
        </span> 
        <span> | </span> 
        <span>
            <a rel="me" href="https://msb.fyi/feed.rss"><i class="fa-solid fa-rss"></i> RSS</a>
        </span>
        <span> | </span>
        <span>
            <a rel="me" href="https://103.social/@msb"><i class="fa-brands fa-mastodon"></i> 103.social</a>
        </span>
        <span> | </span>
        <span>
            <a href="https://github.com/michaelseanbecker"><i class="fa-brands fa-github"></i> Github</a>
        </span>
        <span> | </span>
        <span>
            <a href="http://tweets.msb.fyi" target="_blank"><i class="fa-brands fa-twitter"></i> Tweets</a>
        </span>
        <span> | </span>
        <span>
            <a href="http://msb.omg.lol" target="_blank" data-proven="proven1892c8">msb.omg.lol</a>
        </span>
    </div>
    <div>
        <span>
            <a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank"><i class="fa-brands fa-creative-commons-by"></i> <i class="fa-brands fa-creative-commons-sa"></i> {% year %} Michael Sean Becker</a>
        </span>
        <span> | </span>
        <span>
            <a href="http://www.gnuterrypratchett.com/" target="_blank"><i class="fa-light fa-traffic-light"></i> Clacks Overhead</a>
        </span>
        <span> | </span>


       
        <span>
            <a href="https://github.com/msbfyi/msb-blog/releases/tag/{% appVer %}"><i class="fa-regular fa-person-digging"></i>{% appVer %}</a>
        </span>
        <span> | </span>
        <span>
            <a href="https://msb.proven.lol" target="_blank" data-proven="proven1892c8">Proofs</a>
        </span>
        <span> | </span>
        <span>
            <a href="https://proven.lol/1892c8" target="_blank" data-proven="proven1892c8">Proven</a>
        </span>
        <span> | </span>
        <span>
            <a href="/coffee">Buy me a coffee</a>
        </span>
    </div>
</footer>
<script type="module" src="https://esm.sh/simple-boost@latest"></script>
<simple-boost currency="usd" amount="1.0" nwc="nostr+walletconnect://bdd137ca5630fb91f25a99f4bf3b7009217376ef7c2e0b7e1046875d7bf7b0d9?relay=wss://relay.getalby.com/v1&secret=7b9f693a974d1cdb90d9ea9b6e980c4627b95f68ba027bc17e96f33305160bdc">Boost $1.00</simple-boost>