<footer><div class="wrap">
<div class="frow">
<a rel="me" href="https://msb.link">msb.link</a>
<a rel="me" href="https://msb.fyi/feed.rss">RSS</a>
<a rel="me" href="https://social.lol/@msb">social.lol</a>
<a href="https://github.com/michaelseanbecker">Github</a>
<a href="http://tweets.msb.fyi" target="_blank">Tweets</a>
<a href="http://msb.omg.lol" target="_blank" data-proven="proven1892c8">msb.omg.lol</a>
<a href="/coffee" class="hot">Buy me a coffee</a>
</div>
<div class="fmeta">
<span>CC BY-SA {% year %} Michael Sean Becker</span>
<a href="http://www.gnuterrypratchett.com/" target="_blank">Clacks Overhead</a>
<a href="https://github.com/msbfyi/msb-blog/releases/tag/{% appVer %}">{% appVer %}</a>
<a href="https://msb.proven.lol" target="_blank" data-proven="proven1892c8">Proofs</a>
<a href="https://proven.lol/1892c8" target="_blank" data-proven="proven1892c8">Proven</a>
</div>
</div></footer>
