---
layout: page
title: "Florida Panthers"
permalink: "/panthers/2024-2025/"
eleventyNavigation:
    key: panthers 24-25
    order: 11

---

<h1>{{ title }}</h1>

<h2>{{ panthers.schedule2425.currentSeason }}</h2>
