<div id="footer">
   		<a rel="me" href="https://msb.link">Links</a> <a rel="me" href="https://msb.fyi/all.rss">Consolidated RSS</a> <a rel="me" href="https://103.social/@msb">103.social</a> <a rel="me" href="https://podcastindex.social/@msb">Podcastindex.social</a>
         <br />&copy; 2022 Michael Sean Becker
</div>
