<div id="footer">
    <div>
        <a href="https://github.com/michaelseanbecker"><i class="fa-brands fa-github"></i></a>
        <i class="fa-brands fa-mastodon"></i>
        <i class="fa-regular fa-images"></i>
        <i class="fa-brands fa-twitter"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-linkedin"></i>
    </div>
    <div>
        <i class="fa-solid fa-rss"></i>
        <i class="fa-solid fa-podcast"></i>
    </div>
    <div>
        <i class="fa-brands fa-bitcoin"></i>
    </div>
    </div>
    <div>
        <i class="fa-regular fa-circle-bolt"></i>
    </div>
    <div>
        <a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank"><i class="fa-brands fa-creative-commons-by"></i> <i class="fa-brands fa-creative-commons-sa"></i></a>
    </div>
</div>

<div>
    <i class="fa-brands fa-raspberry-pi"></i>
</div>
<div>
    <i class="fa-brands fa-docker"></i>
</div>
<div>
    <i class="fa-solid fa-flask"></i>
</div>
<div>
    <i class="fa-solid fa-house-signal"></i>
</div>
<div>
    <i class="fa-solid fa-caravan"></i>
</div>