<div id="footer">
    <span class="copy"><i class="fa-brands fa-creative-commons-by"></i> <i class="fa-brands fa-creative-commons-sa"></i> 2022 Michael Sean Becker</span> | 
    <a href="https://github.com/michaelseanbecker"><i class="fa-brands fa-github"></i></a>
</div>