<div id="footer">
    <div>
        <a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank"><i class="fa-brands fa-creative-commons-by"></i> <i class="fa-brands fa-creative-commons-sa"></i></a> | 
        <a href="https://github.com/michaelseanbecker"><i class="fa-brands fa-github"></i></a>
        <i class="fa-brands fa-mastodon"></i>
        <i class="fa-regular fa-images"></i>
        <i class="fa-brands fa-twitter"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-linkedin"></i>
    </div>
    <div>
        <i class="fa-brands fa-bitcoin"></i>
        <i class="fa-regular fa-circle-bolt"></i>
    </div>
</div>