<!doctype html>
<html>
	<head>
		<title>msb.fyi - {{title}}</title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
		<meta name="lightning" content="msb@getalby.com" />
		<meta property="og:site_name" content="MSB.fyi"/>
		<meta property="og:title" content="MSB.fyi | Blog"/>
		<meta property="og:description" content="The home of Michael Sean Becker on the web"/>
		<meta property="og:url" content="https://blog.msb.fyi"/>
		<meta property="og:type" content="siteweb"/>
		<meta property="og:image" content="https://pbs.twimg.com/profile_images/1314583393489707009/yU_kMasf_400x400.jpg"/>
		<meta property="og:image:secure_url" content="https://pbs.twimg.com/profile_images/1314583393489707009/yU_kMasf_400x400.jpg"/>
		<meta property="og:image:width" content="400"/>
		<meta property="og:image:height" content="400"/>
	</head>
<body>
	<div>
		{{> header}}
		<hr>
		{{{content}}}
	</div>
</body>
</html>
