<!doctype html>
<html>
	<head>
		<title>msb.fyi - {{title}}</title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
		<meta name="lightning" content="msb@getalby.com" />
	</head>
<body>
	<div>
		{{> header}}
		<hr>
		{{{content}}}
	</div>
</body>
</html>
