<!doctype html>
<html>
	<head>
		<title>msb.fyi - {{title}}</title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
	</head>
<body>
	<div>
		{{> banner}}
		{{> header}}
		{{> sidebar}}
		<hr>
		<div id="main">
			{{{content}}}
		</div>
		{{> footer}}
	</div>
</body>
</html>
