<!doctype html>
<html lang="{{ metadata.language }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>✨</text></svg>">

<link rel="alternate" type="application/rss+xml" title="MSB.fyi Feed" href="https://msb.fyi/feed.rss" />

    <title>{{ title or metadata.title }}</title>
    {% include "../components/metadata.njk" %}
    <script type="module" src="/assets/svg-icon-sprite.js"></script>
    <script type="module" src="/assets/snow-fall.js"></script>
    {% include "../styles.njk" %}
    {%- if env.ELEVENTY_RUN_MODE !== "serve" -%}
      <script defer src="https://cloud.umami.is/script.js" data-website-id="26e14fcd-d07c-4b15-b95c-ab93675e5ca8"></script>
    {%- endif -%}
  </head>

  <body>
    <snow-fall text="❄️" count="200"></snow-fall>
    {% include "../components/header.njk" %}
    <main role="main">
      {{ content | safe }}
    </main>
    {% include "../components/footer.njk" %}
    {# Detects if images are in the content, it will add the simplelightbox JS/CSS if needed.  #}
    {% addLightBoxRefIfNecessary %}
  </body>
</html>