---
permalink: /.well-known/lnurlp/ln
eleventyExcludeFromCollections: true
---
{
    "status": "OK",
    "tag": "payRequest",
    "commentAllowed": 255,
    "callback": "https://getalby.com/lnurlp/msb/callback",
    "metadata": "[[\"text/identifier\",\"msb@getalby.com\"],[\"text/plain\",\"Sats for Michael Sean Becker\"]]",
    "minSendable": 1000,
    "maxSendable": 11000000000,
    "payerData": {
        "name": {
            "mandatory": false
        },
        "email": {
            "mandatory": false
        }
    },
    "nostrPubkey": "npub1pxqpaxp8vergqxy2e7j8u7g33axmrvasywraha89hnmav5tu9ksqmmqswc",
    "allowsNostr": true
}
