---
permalink: /feed.rss
eleventyExcludeFromCollections: true
---

<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" xmlns:webfeeds="http://webfeeds.org/rss/1.0" xmlns:media="http://search.yahoo.com/mrss/">
    <channel>
        <title>{{ metadata.title }}</title>
        <subtitle>{{ metadata.summary }}</subtitle>
        <link href="{{ metadata.feedUrl }}" rel="self"/>
        <link href="{{ metadata.url }}"/>
        <updated>{{ collections.blog | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
        <id>{{ metadata.url }}</id>
        <author>
            <name>Claudia R</name>
        </author>

        {%- for article in collections.blog -%}
        {% set absolutePostUrl %}{{ article.url | url | absoluteUrl(metadata.url) }}{% endset %}
        <entry>
            <title>{{ article.data.title }}</title>
            <link href="{{ absolutePostUrl }}"/>
            <updated>{{ article.date | dateToRfc3339 }}</updated>
            <id>{{ absolutePostUrl }}</id>
            {% set excerpt = article.data.excerpt %}
            <content type="html">{{ excerpt | htmlToAbsoluteUrls(absolutePostUrl) }}</content>
        </entry>
        {%- endfor -%}
    </channel>
</rss>