---
permalink: /feed.rss
eleventyExcludeFromCollections: true
---

<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
    <channel>
        <title>{{ metadata.title }}</title>
        <description>{{ metadata.summary }}</description>
        <link>{{ metadata.url }}</link>
        <atom:link href="https://msb.fyi/feed.rss" rel="self" type="application/rss+xml" />
        <language>en-us</language>
        <docs>http://blogs.law.harvard.edu/tech/rss</docs>
        <generator>Eleventy</generator>
        <pubDate>{{ collections.blog | getNewestCollectionItemDate | dateToRfc822 }}</pubDate>
        <lastBuildDate>{{ collections.blog | getNewestCollectionItemDate | dateToRfc822 }}</lastBuildDate>
        <managingEditor>m@msb.fyi (Michael Sean Becker)</managingEditor>
        {%- for article in collections.blog -%}
        {% set absolutePostUrl %}{{ article.url | url | absoluteUrl(metadata.url) }}{% endset %}
        <item>
            <title>{{ article.data.title }}</title>
            <link>{{ absolutePostUrl }}</link>
            <pubDate>{{ article.date | dateToRfc822 }}</pubDate>
            <guid>{{ absolutePostUrl }}</guid>
            {% set excerpt = article.data.excerpt %}
            <description>{{ excerpt | htmlToAbsoluteUrls(absolutePostUrl) }}</description>
        </item>
        {%- endfor -%}
    </channel>
</rss>

