---
layout: page
title: Home
eleventyNavigation:
  key: home
  order: 1
pagination:
  data: collections.blog
  size: 10
  alias: articles
---

<h1>{{ title }}</h1>

{% include "./_includes/components/articleList.njk" %}

<h2>OWWW</h2>

{% for video in videos %}
<h3>{{ video.title }}</h3>
{% endfor %}

https://www.mikestreety.co.uk/blog/create-11ty-collection-from-rss/