---
layout: page
title: Now
eleventyNavigation:
  key: now
  order: 3

---

<h1>{{ title }}</h1>

## My /now page


(This is a [now page](https://nownownow.com/about), and if you have your own site, [you should make one](https://nownownow.com/about), too.)

### What I’m reading

- [Limitless](https://www.limitlessbook.com/) by Jim Kwik
- [A Progressive's Case for Bitcoin](https://www.bitcoinprogressive.com/)

### What I’m watching

- [Star Trek: Lower Decks](https://en.wikipedia.org/wiki/Star_Trek:_Lower_Decks)

### What I’m making

- Homenetwork 
- Ok, What Went Wrong? - Podcast with my oldest on our learnings in our computer hobbies

### What I’m enjoying

- Getting ready for the train trip to take Zane back to college

Last Updated: August 16, 2023
