---
layout: page
title: "Ok, What Went Wrong?"
eleventyNavigation:
    key: "podcast"
    order: 6
pagination:
  data: owww
  size: 5
  alias: articles
---

<h1>{{ owww.title }}</h1>

{% image owww.image.url, owww.image.title, 'podcast-album-art', [null, 300] %}
<div>
  {{ owww.description }}
</div>

{% for show in owww.items %}     
<h3>{{ show.title }}</h3>
<div>
  <div>{{ show.author }}</div>
  <div>{{ show.pubDate }}</div>
  <div>{{ show.content }}</div>
  <div>{{ show.enclosure.url }}</div>
</div>
 {% endfor %}