---
layout: page
title: "Stats"
eleventyNavigation:
    key: stats
    order: 5

---

<h1>{{ title }}</h1>
<p>Blog posts on msb.fyi</p>
{% postGraph collections.blog %}

<p>Posts to 103.social</p>
{% postGraph mastodon.posts %}


<p>Video Test</p>

{% for video in videos %}     
<h3>{{ video.title }}</h3>     
{% endfor %}

