---
layout: page
title: "Stats"
eleventyNavigation:
    key: stats
    order: 5

---

<h1>{{ title }}</h1>
<p>Blog posts on msb.fyi</p>
{% postGraph collections.blog %}

<p>Posts to 103.social</p>
{% postGraph mastodon.posts %}

<p>
    <a href="https://postgraph.rknight.me/?utm_source=pocket_saves">Eleventy Post Graph via Robb Knight</a>
</p>