---
layout: page
title: "Stats"
eleventyNavigation:
    key: stats
    order: 5

---

<h1>{{ title }}</h1>
<p>This view contains a graph of all blogposts posted</p>

{% postGraph collections.blog %}
[Eleventy Post Graph](https://postgraph.rknight.me/?utm_source=pocket_saves)
